body{
    background-color: rgb(116, 126, 126);
}

.ingreso{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.container1{
    background-color: rgb(116, 126, 126);
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}
.button,.boton2{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color:rgb(178, 186, 193);
    color: rgb(59, 87, 201);
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 2px 5px black;
    transition: all 0.3 ease;
}


.button:hover{
    background-color: rgb(172, 172, 233);
}
.boton2:hover{
    background-color: rgb(172, 172, 233);
}

.input1{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border: 1x solid black;
    
}

